h1{ 
    color: purple;
    text-align: center;
}

.palette{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainText {
    font-family: 'Montserrat', sans-serif;

}

#paraOne{
    background-color: rgb(255, 192, 255);
    font-size: 20px;
    color: rgb(34, 0, 34);
}

li{
    font-size: 15px;
    color:rgb(9, 75, 0);
}

#paraTwo{
    background-color: rgb(180, 204, 255);
    font-size: 20px;
    color: rgb(2, 0, 34);
}

body{
    background-color:rgb(255, 237, 156);
}